<h1>show page<h1>

<%= link_to 'Edit', listing_edit_path(@listing) %>
<%= link_to 'Delete', listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<% if @listing.photo.key? %>
  <%= cl_image_tag @listing.photo.key, width: 400, height: 300, crop: :lfill %>
<% else %>
  <%= cl_image_tag("zyac7mhjaxft2h0stzhk", width: 400, height: 300, crop: :lfill) %>
<% end %>

<div>
  <h2><%= @listing.title %></h2>
  <p><%= @listing.description %></p>
  <p><%= @listing.price_per_day %></p>
  <p><%= @listing.user.email %></p>
</div>

<%= link_to 'Request Booking',  bookings_path(@listing) %>
