<head>
  <%= stylesheet_link_tag 'show' %>
</head>


<div class="listing" style="margin-top: 50px;">
  <div class="listing__header">
    <h1 class="listing__title"><%= @listing.title %></h1>
    <p class="listing__location"><%= @listing.title.split(", ").first %></p>
  </div>

  <% if @listing.photo.key? %>
    <%= cl_image_tag @listing.photo.key, width: 400, height: 300, crop: :lfill %>
  <% end %>

  <div class="listing__details">
    <p class="listing__price"><strong>Price:</strong> <%= number_to_currency(@listing.price_per_day) %> per day</p>
    <p class="listing__user"><strong>Contact:</strong> <%= @listing.user.email %></p>
  </div>

  <div class="listing__description">
    <p><%= @listing.description %></p>
  </div>

<div>
  <h1>All Reviews</h1>
  <% if @listing.reviews.blank? %>
    Be the first to leave a review for <%= @listing.title %>
  <% else %>
    <% @listing.reviews.each do |review| %>
    <div style="background-color: #8c8634">
      <p><%= review.content %></p>
      <p>by <%= User.find(review.user_id).email %></p>
    </div>
    <% end %>
  <% end %>
</div>

<%= simple_form_for([@listing, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.hidden_field :listing_id, :value => @listing.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.button :submit %>
<% end %>


<%= link_to "Back to all vans", listings_path %>

  <div class="listing__actions">
    <%= link_to 'Request Booking',  listing_bookings_path(@listing) %>
    <% if current_user.id == @listing.user_id %><%= link_to 'See Bookings',  all_bookings_path(@listing) %><% end %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: 'button button--edit' %>
    <%= link_to 'Delete', listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'button button--delete' %>
  </div>
</div>
