<head>
  <%= stylesheet_link_tag 'mine' %>
</head>

<div class="container">
  <br>
  <div>
  <h1>My bookings</h1>
  <%= @user.email %>
  </div>
  <br>
  <% @bookings.each do |booking| %>
    <div class="card-product">
    <% if Listing.find(booking.listing_id).photo.attached? %>
      <%= cl_image_tag Listing.find(booking.listing_id).photo.key, width: 400, height: 300, crop: :fit %>
    <% end %>
      <div class="container">
        <div class="card-product-infos">
          <div style="display: flex; justify-content: space-between; ">
            <h3><%= Listing.find(booking.listing_id).title %></h3>
            <%= link_to delete_bookings_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, remote: true, class: 'button button--delete' do %>
              <i class="fa-solid fa-trash" style="color: black"></i>
            <% end %>
          </div>
          <div style="display: flex; justify-content: space-between; ">
            <p><%= booking.booking_date %></p>
            <p>$<%= Listing.find(booking.listing_id).price_per_day %>0 AUD/day</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
