<head>
  <%= stylesheet_link_tag 'mine' %>
</head>

<div class="container">
  <h1>My bookings</h1>
  <%= @user.email %>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="container">
        <div class="card-product-infos">
          <h3><%= Listing.find(booking.listing_id).title %></h3>
          <div style="display: flex; justify-content: space-between; ">
            <p><%= booking.booking_date %></p>
            <p>$<%= Listing.find(booking.listing_id).price_per_day %>0 AUD/day</p>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
